
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  textarea:focus{
    outline: none;
  }

.logo-container{
  object-fit: cover;
  height: 150px;
}

.logo-container-svg{
  height: 100px;
}